body{
    background-color:rgb(130, 253, 196);
}
.col{
    background-color: #ffffff;
}
.container{
    margin-top:20px;
    border-radius: 15px;
    background-color: #ffffff;
}
.texto{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-style: solid;
    border-width: 4px;
    padding: 20px;
    background-color: rgb(177, 255, 219);

}
h1{
    text-align: center;
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
}
a{
    color: black;
}
a:hover{
    color: rgb(91, 253, 177)
}
#botoes{
    justify-content: center;
}
#eu{
    margin-left: 80px;
    margin-top: 130px;
    width: auto;
    height: 45%;
}
#gatos{
    margin-left: 40px;
    margin-top: 20px;
    width: auto;
    height: 70%;
}
#eu2{
    margin-top: -40px;
    width: auto;
    height: 45%;
}
::-webkit-scrollbar {
    width: 0.7vw;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vw #e0e0e0;
    border-radius: 1vw;
}

 ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 1vw;
}

 ::-webkit-scrollbar-thumb:hover {
    background: black;
}